{
  "optimizer" : ["str",   "SGD"],
  "LR"        : ["float", "0.00005"],
  "momentum"  : ["float", "0.9"],
  "Decay"     : ["float", "0.0005"],
  "nesterov"  : ["bool",  "1"],
  "criterion" : ["str",   "MSE-none"],
  "loss_norm" : ["bool",  "1"],
  "lossnorm"  : ["bool",  "1"],
  "epochs"    : ["int",   150],
  "schedule"  : ["int",   [90, 110, 130]],
  "gamma"     : ["float", 0.5],
  "stages"    : ["int", 1]
}
